[user]
  name = dreadwail
  email = dreadwail42@gmail.com
[color]
  ui = true
[core]
  editor = vim
  pager = less -r
  excludesfile = ~/.gitignore
[push]
  default = simple
[branch]
  autosetupmerge = always
  autosetuprebase = always
[status]
  short = true
  branch = true
[format]
  pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> (%ae)%Creset'
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[init]
	defaultBranch = main
