[user]
  name = dreadwail
  email = dreadwail42@gmail.com
[color]
  ui = true
  pager = true
  diff = always
  status = always
  branch = always
  interactive = always
[core]
  editor = vim
  pager = less -r
  excludesfile = ~/.gitignore
[push]
  default = simple
[branch]
  autosetupmerge = always
  autosetuprebase = always
[status]
  short = true
  branch = true
[alias]
  lg = log --graph --date=relative
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[init]
	defaultBranch = main
