{
  "parser": "typescript",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.css"],
      "options": { "parser": "css" }
    },
    {
      "files": ["*.graphql"],
      "options": { "parser": "graphql" }
    },
    {
      "files": ["*.json"],
      "options": { "parser": "json" }
    },
    {
      "files": ["*.md"],
      "options": { "parser": "markdown" }
    }
  ]
}
