"*":
  "advanced-open-file": {}
  "atom-beautify":
    general:
      analytics: false
  "atom-slime":
    advancedSettings:
      showSwankDebug: true
    lispName: "scheme"
    slimePath: "/Users/blakey/github/slime"
  core:
    allowPendingPaneItems: false
    audioBeep: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Menlo, Monaco, 'Courier New', monospace"
    fontSize: 16
    preferredLineLength: 120
    softWrap: true
  "exception-reporting":
    userId: "ec297382-e5c3-96c3-d2d0-4963c1f4c430"
  "find-and-replace":
    caseSensitive: true
    inCurrentSelection: true
    openProjectFindResultsInRightPane: true
    useRegex: true
  "linter-puppet-lint":
    oldVersion: false
  "lisp-paredit":
    strict: false
  swackets:
    colorParens: true
    colorSquareBrackets: true
  tabs: {}
  "tree-view": {}
  "vim-mode-plus":
    flashOnOperate: false
    hideStatusBarOnMaximizePane: false
    hideTabBarOnMaximizePane: false
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
